<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8">
  <title>Positron {{ page.title }}</title>
  <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png"/>
  <link rel="alternate" type="application/rss+xml" title="Positive Updates from Positron" href="/rss.xml" />
<meta http-equiv="cache-control" content="no-cache">
<link rel="stylesheet" href="/public/css/styles.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-456Y118SWT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-456Y118SWT');
</script>
