<div class="inner">
  <div class="primary">
    <h1><a href="/about">
      <img class="logo" src="/public/images/logo.svg" width="180" />
    </a></h1>
  </div>
  <div class="secondary">
      {% include "navbar.liquid" %}
  </div>
</div>
