  <nav>
    <a href="/about" class="button about"><span>About</span></a>
    <a href="/blog" class="button blog"><span>Blog</span></a>
    <a href="/careers" class="button careers"><span>Careers</span></a>
  </nav>